@tailwind base;
@tailwind components;
@tailwind utilities;

.header-link {
  position: relative;
  /* display: inline-block; */
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  padding-bottom: 2px;
}

.header-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3B82F6;
  transform-origin: bottom right;
  transition: transform 0.50s ease-out;
}

.header-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/* Hot Exam */
.hotExam-link {
  position: relative;
  /* display: inline-block; */
  color: #3B82F6;
  text-decoration: none;
  padding-bottom: 2px;
}

.hotExam-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3B82F6;
  /* transform-origin: bottom right; */
  transition: transform 0.50s ease-out;
}

.hotExam-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.animate-dropdown {
  display: block;
  opacity: 0;
  transform: translateY(-10px);
  animation: slideDownFadeIn 1.10s forwards;
}

@keyframes slideDownFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.clip-path-polygon {
  min-height: 120px;
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%);
}

.clip-path-polygon-howItWorks{
  padding-top: 10%;
  clip-path: polygon(0 50%, 100% 0%, 100% 100%, 0 100%);
}



/* Review */
.review__item:not(:first-child) {
	margin-block-start: 1.5rem;
}

.review__item {
	position: relative;
	background: linear-gradient(135deg, rgb(182 219 255) 0, rgb(238, 248, 255) 100%);
	border-radius: 0.8em;
	padding: 1.25rem;
	break-inside: avoid;
}

.review__heading {
	position: absolute;
	inset: 0 auto auto 0;
	background: #ffffff;
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
	margin: 0 !important;
	border-radius: 25px;
	padding: 5px 10px;
	line-height: 1;
	transform: translate(-10px, -50%);
	box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.05), 0 1px 0 0 rgba(10, 10, 10, 0.05), 0 0.1em 0.6em -0.5em rgba(10, 10, 10, 0.05), 0 0.2em 1.2em -0.8em rgba(10, 10, 10, 0.1), 0 0.3em 0.7em -0.6em rgba(10, 10, 10, 0.2), 0 0.4em 0.8em -0.7em rgba(10, 10, 10, 0.3);
}

.review__title {
	position: relative;
	font-size: 0.625rem;
}

.review__title::after {
	position: absolute;
	inset: -5px -0.25rem -5px auto;
	content: '';
	height: calc(0.625rem + 10px);
	width: 1px;
	background: rgba(10, 10, 10, 0.1);
}

.review__stars {
	font-size: 0.625rem;
}

.review__content {
	font-size: 0.875rem;
	line-height: 1.4;
	color: #222222;
}

.review__author {
	font-style: italic;
	font-size: 0.75rem;
}


.backgroundReviewGreen {
  position: relative;
  overflow: hidden; /* Ensures no overflow outside the component bounds */
  color: white; /* Text color */
}

.backgroundReviewGreen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3B82F6; 
  clip-path: polygon(0 100%, 100% 0%, 100% 100%, 0 100%);
  z-index: -1; 
}

.card {
  position: relative; 
  background: rgba(0, 0, 0, 0.6); 
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s, opacity 0.5s;
}

.card:hover {
  transform: scale(1.05);
   opacity: 1; 
}
